@font-face {
  font-family: "Segoe Boot Semilight";
  src: url("/assets/fonts/segoe_slboot.ttf");
}
@font-face {
  font-family: "Segoe Boot Semilight Condensed";
  src: url("/assets/fonts/segoen_slboot.ttf");
}
@font-face {
  font-family: "Segoe Mono Boot";
  src: url("/assets/fonts/segmono_boot.ttf");
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  scroll-behavior: smooth;
}
* { box-sizing: border-box; }

html { background-color: black; }
body {
  font-family: "Segoe Boot Semilight", sans-serif;
  color: white;
}

#replaceText {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#replaceText > div > * {
  margin: 0;
}

code {
  font-family: "Segoe Mono Boot", monospace;
  font-size: inherit;
  background-color: #ffffff20;
  padding: 0.15rem;
  -moz-border-radius: 4.75px;
  -ms-border-radius: 4.75px;
  -webkit-border-radius: 4.75px;
  -o-border-radius: 4.75px;
  border-radius: 4.75px;
}

/* IMPORTANT: responsive fontsize */
@media screen and (max-width: 540px) {
  body { font-size: normal; }
}
@media screen and (min-width: 540px) and (max-width: 1080px) {
  body { font-size: large; }
}
@media screen and (min-width: 1080px) and (max-width: 1620px) {
  body { font-size: larger; }
}
@media screen and (min-width: 1620px) and (max-width: 2160px) {
  body { font-size: x-large; }
}
@media screen and (min-width: 2160px) {
  body { font-size: xx-large; }
}